#detail_post{
   float: left;
   width: 100%;
   height: auto;
   margin: 0 auto;
   background: url('../../../../includes/images/icon/slidebg.png'); 
  
}



#detail_post .detail_post_center{
  width: 1024px;
  height: auto;
  margin: 0 auto;
}

/*============left===========*/
#detail_post .detail_post_center .left_detail_post{
  width: 700px;
  height: auto;
  float: left;
  background: #FFF;
  /*temp
  height: 200px;
  background: #00AAE7;*/
}
#detail_post .detail_post_center .left_detail_post .view_info_post{
  margin-top: 10px;
  width: 680px;
  margin-left: 10px;
  float: left;
  height: 20px;
  background: #FFF;
  
  /*temp*/
  height: 20px;
  
}
#detail_post .detail_post_center .left_detail_post .view_info_post span{
  color: #99999;
  font-size: 12px;
  
}

#detail_post .detail_post_center .left_detail_post .box_detail_post{
  margin-top: 10px;
  width: 680px;
  margin-left: 10px;
  float: left;
  height: auto;
  background: #FFF;
  
  /*temp
  height: 100px;
  background: #FFF;*/
}



/*============right===========*/
#detail_post .detail_post_center .right_detail_post{
  width: 314px;
  height: auto;
  float: left;
  margin-left: 10px;
  
}

#detail_post .detail_post_center .right_detail_post ul{
  width: 314px;
  height: auto;
  float: left;
  list-style: none;
}
#detail_post .detail_post_center .right_detail_post ul li{
  width: 314px;
  height: auto;
  float: left;
  margin-top: 10px;
  /*temp*/
  height: 100px;
  background: #000;
  opacity: 0.7;
  
}
#detail_post .detail_post_center .right_detail_post ul li:hover{
 
  background: #000;
  opacity: 0.3;
  
}
#detail_post .detail_post_center .right_detail_post ul li .box_img_post{
  width: 100px;
  float: left;
  height: 100px;
  
}

#detail_post .detail_post_center .right_detail_post ul li .box_img_post img{
  width: 100px;
  float: left;
  height: 100px;
}
#detail_post .detail_post_center .right_detail_post ul li .box_short_content_post{
  width: 210px;
  float: left;
  height: 90px;
  margin-left: 4px;
  margin-top: 10px;
}
#detail_post .detail_post_center .right_detail_post ul li .box_short_content_post .title{
  text-align: left;
  color: #FFF;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}